// https://getbootstrap.com/examples/signin/
form.form-signin

	h2.form-signin-heading Please sign in

	label.sr-only(for="inputEmail") Email address
	input.form-control(type="email", id="inputEmail", placeholder="Email address", required="", autofocus="", autocomplete="off")

	label.sr-only(for="inputPassword") Password
	input.form-control(type="password", id="inputPassword", class="", placeholder="Password", required="", autocomplete="off")

	div.checkbox
		label
			input( type="checkbox", value="remember-me")
			span Remember me

	button.btn.btn-lg.btn-primary.btn-block(type="submit", ng-click='vm.signup()') Sign in
