extends ./layout.tpl.jade

block content
	h1 trololo i am a dashboard
	h2 foo: {{ vm.foo }}
	h2 getter: {{ vm.getCurrentUser }}
	h2 user: {{ vm.getCurrentUser() }}
	h2 email: {{ vm.getCurrentUser().email }}