extends ./layout.tpl.jade

block content
	div.col-md-4.col-md-push-8
		h3 Your Account:
		h4 email {{ vm.getCurrentUser().email }}
		button.btn(ng-click="vm.logout()") Log out
	div.col-md-8.col-md-pull-4
		h1 Super Exciting Chat:
		form(ng-submit="vm.addChatMessage(messageInputText); messageInputText='';")
			input.message(type="text" ng-model="messageInputText")
			input.submit(type="submit")
		//- div(ng-repeat="m in vm.getChatMessagesReadonly()")
		div(ng-repeat="m in vm.chatMessages | orderBy:'timestamp'")
			h4 {{m.text}} | {{m.senderEmail}} | {{m.timestamp | date:'MM/dd/yyyy @ h:mma'}}