extends ./layout.tpl.jade

block content
	br
	.panel
		.panel-body
			center 
				h1 Free Simple Chat Room
			//- p To access our live support system, please <b>create an account</b> or <b>log in</b> and then <b>visit your dashboard.</b>
			// https://pixabay.com/en/internet-laptop-computer-notebook-1028794/
			img(src="https://pixabay.com/static/uploads/photo/2015/11/06/15/13/internet-1028794_960_720.jpg")
			center
				p Thank you for visiting this completely unmoderated chat room. Please create an account or log in and then access your dashboard to begin chatting.
