extends ./layout.tpl.jade

block content
	br
	.panel
		.panel-body
			center 
				h1 Free Simple Chat Room
			.home-avatars
				img.avatar.panel(src="https://api.adorable.io/avatars/450/a.png")
				img.avatar.panel(src="https://api.adorable.io/avatars/450/rebekah@test.com")
			center
				p Thank you for visiting this completely unmoderated chat room. Please create an account or log in and then access your dashboard to begin chatting.
