extends ./layout.tpl.jade

block content
	h1 Welcome
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsum
	p lorem ipsumvv
